@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
:root {
  --bg-color: #4a98f7;
  --clr-white: #fff;
}
body{
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap:10px;
    background-color: var(--bg-color);
    font-family:"Poppins", sans-serif;
}
form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color:var(--clr-white)
}
.container{
    border-radius: 20px;
    width: min(500px,80%);
    background-color: var(--clr-white);
    box-shadow: 0px 7px 5px 0px rgba(0,0,0,0.75);
    height: 200px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap:20px;
}
.container form{
    display: flex;
    flex-direction: row;
    gap:5px;
}
.container form input{
    width: 70px;
    height: 50px;
}
.submit-button{
    border-radius: 5px;
    background-color: var(--bg-color);
    border: none;
    padding: 15px;
    color:var(--clr-white);
    font-family:"Poppins", sans-serif;
    gap:10px;
}
.container h2{
    font-weight: 200;
}